<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Authors</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/author.css') }}">
</head>
<body>
    <div class="flex_all">
        <div class="container">
            <div class="row centered-form">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>New Author </h4>
                    </div>
                    <div class="panel-body">
                        <form action ="add_author" method="POST" role="form">
                        <div class="row row-no-gutters">
                            <div class="form-group">
                                <input type="text" class="form-control input-default" placeholder="First Name" name="first_name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-default" placeholder="Last Name" name="last_name">
                            </div>
                        </div>
                        <input type="submit" value="Create" action="add_author" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container2">
            <div class="heading">
                <h3>All Authors</h3>
            </div>
            <div class="panel2">
                <table class="table-fill">
                    <tbody class="table-hover">
                    {% for author in authors %}
                    <tr>
                        <td class="text-center"><a href="/author_show/{{author['id']}}">{{author['first_name']}} {{author['last_name']}}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <p class="userLink"><a href="/books"> Add Book</a></p> 
            </div>
        </div>
    </div>
</body>
</html>